aside {
  display: grid;
  align-content: start;
  width: var(--tree-width, 11%);
  min-height: 100vh;
  font-size: 14px;
  gap: 0.65rem;
  margin-top: var(--margin-top);
  background-color: var(--wa-color-gray-95);
}

aside > h3 {
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 0.65rem;
  margin-bottom: 0.05rem;
}

aside > wa-tree {
  --indent-guide-width: 1px;
}

aside > wa-tree > wa-tree-item::part(item) {
  border-inline-start: none;
}

aside > wa-tree > wa-tree-item:state(selected)::part(item) {
  background-color: var(--wa-color-success-fill-normal);
}
