:root {
  --strong-green: #22c55e;
  --yellow-green: #ade25d;
  --hunter-green: #3a5743;
  --black: #171717;
  --darken: #1c1917;
  --neutral: #404040;
  --shadow: #262626;
  --white: white;
  --primary: var(--hunter-green);
  --grey-10: #f4f4f5;
  --grey-15: #eaeaea;
  --grey-20: #d6d6d7;
  --grey-30: #4d4c5c;
  --secondary: #090b0c;
  --background: var(--grey-10);
  --foreground: var(--black);
}

body {
  font-family: "JetBrains Mono Variable", monospace;
}

col-badge {
  --background-color: var(--primary);
  --text-color: var(--grey-10);
}

col-badge.tool {
  --background-color: var(--grey-20);
  --text-color: var(--darken);
  font-size: 15px;
}
