:root {
  --background: var(--wa-color-gray-90);
  --foreground: var(--wa-color-green-60);
  --wa-form-control-border-radius: 0.18rem;
  --wa-font-family-body: "JetBrains Mono Variable", monospace;
}
